* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.muestraTiempo {
  color: rgb(39, 105, 220);
}
.muestra {
  color: red;
  display: none;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.titulo {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
}
.inicio {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: block;
  width: 250px;
}
.cargarNuevo {
  display: none;
}
